.editable-combo-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

.editable-combo-box .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.editable-combo-box .arrow {
    -fx-pref-width: 12px;
    -fx-pref-height: 8px;
    -fx-background-color: #000;
}

.editable-combo-box > *{
    -fx-background-color: transparent;
}

.group-editable-combo-box{
    -fx-background-color: #fff;
    -fx-background-radius: 7px;
    -fx-border-color: #77CDFF;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(gaussian, #77CDFF, 10, 0, 0, 0);
}

.group-editable-combo-box > .label{
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.date-picker {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

.date-picker .text-field{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.date-picker > *{
    -fx-background-color: transparent;
}

.date-picker .arrow {
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-color: #000;
}

.date-picker > .label{
    -fx-font-size: 14;
    -fx-font-weight: 700;
}

.jfx-button{
    -fx-background-color: #0D92F4;
    -fx-text-fill: #fff;
    -fx-font-size: 16;
    -fx-effect: dropshadow(gaussian, #77CDFF, 10, 0, 0, 0);
    -fx-alignment: center; /* Căn chỉnh nội dung giữa */
}


