.thongBao{
    -fx-text-fill: red;
}

.quenMatKhau{
    -fx-font-style: italic;
    -fx-font-size: 12pt;
}

.quenMatKhau: hover{
    -fx-text-fill: #139BFF;
    -fx-font-size: 12pt;
    -fx-cursor: hand;
}

