.hoaDon-left{
    -fx-background-color: #C22D2D;
    -fx-background-radius: 10 0 0 10;
}

.hoaDonChon{
    -fx-background-color: #999999;
}

.hoaDonKhongChon{
    -fx-background-color: transparent;
}
