.choDaDatHoacBan{
    -fx-background-color: #FF4747;
    -fx-text-fill: #000;
}

.choDanhChoChanDaiHon{
    -fx-background-color: #698AFB;
    -fx-text-fill: #000;
}

.choTrong{
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000;
}

.choDangChon{
    -fx-background-color: #008906;
    -fx-text-fill: #fff;
}

.cho .jfx-button{
    -fx-alignment: center;
    -fx-font-weight: 700;
    -fx-background-radius: 5px;
    -fx-font-size: 13;
    -fx-effect: none;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}