.chiTietphieuDatVeCaNhan{
    -fx-background-color: #4379F2;
    -fx-background-radius: 10 0 0 10;
}

.chiTietphieuDatVeTapThe{
    -fx-background-color: #851DE0;
    -fx-background-radius: 10 0 0 10;
}

.chiTietPhieuDatVeDangChon{
    -fx-background-color: #999999;
}

.chiTietPhieuDatVeKhongChon{
    -fx-background-color: transparent;
}