.phieuDatVeDangChon{
    -fx-background-color: #999999;
}

.phieuDatVeKhongChon{
    -fx-background-color: transparent;
}

.phieuDatVe-left-caNhan{
    -fx-background-color: #4379F2;
    -fx-background-radius: 10 0 0 10;
}

.phieuDatVe-left-tapThe{
    -fx-background-color: #851DE0;
    -fx-background-radius: 10 0 0 10;
}