.veDangChon{
    -fx-background-color: #999999;
}

.veKhongChon{
    -fx-background-color: transparent;
}

.ve-left-veCaNhan{
    -fx-background-color: #4379F2;
    -fx-background-radius: 10 0 0 10;
}

.ve-left-veTapThe{
    -fx-background-color: #851DE0;
    -fx-background-radius: 10 0 0 10;
}

.tieuDe{
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.noiDung{
    -fx-font-size: 16;
}