.button-chinhSua{
    -fx-background-color: #0D92F4;
    -fx-text-fill: #fff;
    -fx-font-size: 14;
    -fx-effect: dropshadow(gaussian, #0D92F4, 10, 0, 0, 0);
    -fx-alignment: center;
}

.toTien-1000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #789DBC, #A2D2DF);
}

.toTien-2000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #54473F, #9A7E6F);
}

.toTien-5000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #133E87, #4CC9FE);
}

.toTien-10000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #FAB12F, #FCF596);
}

.toTien-20000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #003161, #024CAA);
}

.toTien-50000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #AA5486, #CB9DF0);
}

.toTien-100000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #15B392, #73EC8B);
}

.toTien-200000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #F09319, #FFBF61);
}

.toTien-500000{
    -fx-background-radius: 10;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #000B58, #003161);
}



