.choDaBan{
    -fx-background-color: #FA4032;
}

.choDaDat{
    -fx-background-color: #FAB12F;
}

.choDanhChoChanDaiHon{
    -fx-background-color: #698AFB;
}

.choTrong{
    -fx-background-color: #A6AEBF;
}

.choDangChon{
    -fx-background-color: #008906;
}

.choDaThemVaoGioVe{
    -fx-background-color: #851DE0;
}

/*
.cho .jfx-button{
    -fx-alignment: center;
    -fx-font-weight: 700;
    -fx-background-radius: 5px;
    -fx-font-size: 13;
    -fx-effect: none;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}
*/